extends layout

block moreStyle
	link(rel='stylesheet', href='/stylesheets/indexAppStyle.css')


div.indexNav
	block title
		div.indextitleLocation(onclick="javascript:location.href='/'")
			img.phylovizImage(src = '/images/logo.png')
			label.title #{title}

	block login
		div(id="indexuserLocation")
			if (!user)
				a(href="/users/login") Login
				= '	'
				a(href="/users/register") Register
			if (user)
				p Welcome, #{user.name}! 
					= ' '
					a(href="/users/logout") Logout

block normalBody

	div(id="dialog")

	div.bodyContainer

		div(id="col_index")
			ul.nav.nav-stacked
				li
					div(id="divHome")
						button.btn-info(id="buttonHome", style="width: 100%") Home
				li
					div(id="divAbout")
						button.btn-info(id="buttonAbout", style="width: 100%") About
				li
					div(id="divAPI")
						button.btn-info(id="buttonAPI", style="width: 100%") API
				li
					div(id="divPublicDatasets")
						button.btn-info(id="buttonPublicDatasets", style="width: 100%") Public Datasets
				
				if (user)
					li
						div(id="divUserDatasets")
							button.btn-info(id="buttonUserDatasets", style="width: 100%") User Datasets
				li
					div(id="divUploadDatasets")
						button.btn-info(id="buttonUploadDatasets", style="width: 100%") Upload Datasets


		div(id="divbuttonHelp")
			button.btn-warning(id="buttonHelp", style="width: 100%") Help
		div(id="col_tutorial", style="display: none")

		div(id='inputDiv')

			div(id="homeDiv", style="display:block;")
				img.phylovizImageHome(src = '/images/logo.png')
				label.titleHome #{title}
				div(id="phylovizDescription")
					h4 Web-based tool for visualization, phylogenetic inference, analysis and sharing
					br
					p PHYLOViZ Online is an online version of the software PHYLOViZ, a software that allows the analysis of sequence-based typing methods that generate allelic profiles and their associated epidemiological data. Our motivation was to give an user-friendly solution for data analysis and sharing without installing any specific software.
					br
					div(id="onlineTutorial")
						p 
							b CHECK OUT THE ONLINE VIDEO TUTORIAL 
								a(href="//youtu.be/PieHvfcqaAg") IN YOUTUBE
						br
						p 
							b
								a(href="/index/tutorial") TUTORIAL
						br
					div(id="testArea", style="width: 100%;height:150px;")
						div(id="testDatasetDiv", style="text-align: left; width: 50%; height:100%; float: left;")
							p <b>A sample dataset is available:</b>
							p - <a href="/data/sampleAPfile.txt">Profile data</a>
							p - <a href="/data/sampleADfile.txt">Auxiliary data</a>
							p More information on the data formats can be found <a id="inputFormatlink" href="/index/inputinfo">here</a>.
						div(id="testUserDiv", style="text-align: left; width: 50%; height:100%; float: right;")
							p <b>Test PHYLOViZ Online data upload using:</b>
							p - <a id="logInFree" href="#">Login-free</a> upload.
							p - The common user: <b><i>demo</i></b> and password: <b><i>demo</i></b>.
							p - Using public datasets.
					br
					div(id="exampleTreeImage")
						img.exampleTree(src="/images/mainpageimage1.png")
						img.exampleMatrix(src="/images/nlvimage1.png")
						img.exampleNLV(src="/images/matriximage1.png")

			div(id="AboutDiv", style="display:none;")
				img.phylovizImageHome(src = '/images/logo.png')
				label.titleHome #{title}
				div(id="phylovizAbout")
					h4 Web-based tool for visualization, phylogenetic inference, analysis and sharing
					br
					p PHYLOViZ Online is a Web version of the standalone available
						a(src="phyloviz.net/") here
					p The application is at the moment fully functional using <b>Google Chrome</b> and <b>Firefox</b> Web browsers. <b>Mobile versions</b> still have some limitations that we expect to surpass in a near future.
					br
					div(id="phylovizAboutContacts")
						label Contacts:
						br
						br
						p <b>Bruno Gonçalves (1) - </b>
							img(id="bfmail" src="/images/bfmail.png" border="0" align="absbottom")
						p <b>João André Carriço (1) - </b>
							img(id="jcmail" src="/images/jcmail.png" border="0" align="absbottom")
						p <b>Alexandre P. Francisco (2,3)</b>
						p <b>Cátia Vaz (2,4)</b>
						p <b>Mário Ramirez (1)</b>
						br
						p (1) Instituto de Microbiologia, Instituto de Medicina Molecular, Faculdade de Medicina, Universidade de Lisboa, Lisboa, Portugal
						p (2) INESC-ID, R. Alves Redol 9, 1000-029 Lisboa, Portugal
						p (3) Instituto Superior Técnico, Universidade de Lisboa, Lisboa, Portugal
						p (4) Instituto Superior de Engenharia de Lisboa, Instituto Politécnico de Lisboa, 007 Lisboa, Portugal
						br
						br


			div(id="APIDiv", style="display:none;")
				img.phylovizImageHome(src = '/images/logo.png')
				label.titleHome #{title}
				div(id="phylovizDescription")
					h4 Web-based tool for visualization, phylogenetic inference, analysis and sharing
					br
					p Access to the API documentation 
						a(href="./api") here!
					br
					br
			

			div(id="publicDataset", style="display:none;")
				label Public datasets
				p Select one dataset from the table.
				div(id='existingDatasetspublic')


			div(id="userDataset", style="display:none;")
				label Existing datasets
				p Select one dataset from the table.
				div(id='existingDatasetsuser')
				if (user)
					div(id="divDeleteDatasetuser")
						button.btn.btn-sm.btn-danger.resizable_button_submit(id="buttonDeleteDatasetuser", style ="display:none") Delete

				if (user)
					div(id="changeDescriptionDivuser", style ="display:none")
						br
						br
						br
						br
						div.input-group.input-sm
							input.form-control(id="changeDatasetNameuser", type="text", placeholder="Change Dataset Name")
							span.input-group-addon(id="buttonChangeDatasetNameuser") Change Dataset Name

						div.input-group.input-sm
							input.form-control(id ='changeDescriptionuser', type="text", placeholder="Change description", aria-describedby="sizing-addon1")
							span.input-group-addon(id="buttonChangeDescriptionuser") Change Description


			div(id="uploadDiv", style="display:none;")
				br
				div(id="useOwnDataset")
					label Upload your own data
					if !(user)
						p <b>NOTE: Without registration your data will not be saved and erased 24 hours after uploading.</b>
					p Select one of the possible input formats
				
				div(id="possibleInputs")
					label.input-formats Possible Input Formats	
					div(id='possibleInputFormats')
				
				br

				div(id="inputButtons")
					div(id="newickButton")
						div.input-group.input-sm
							input.form-control.justVisual(id = 'textNewick', type="text", placeholder="Upload Newick file", aria-describedby="sizing-addon1")
							span.input-group-addon(id="Newick", onclick="getFile(this.id)") Browse

					div(id="fastaButton")
						div.input-group.input-sm
							input.form-control.justVisual(id = 'textFasta', type="text", placeholder="Upload Fasta file", aria-describedby="sizing-addon1")
							span.input-group-addon(id="Fasta", onclick="getFile(this.id)") Browse

					div(id="profileButton")
						div.input-group.input-sm
							input.form-control.justVisual(id = 'textProfile', type="text", placeholder="Upload Profile Data", aria-describedby="sizing-addon1")
							span.input-group-addon(id="Profile", onclick="getFile(this.id)") Browse

					div(id="metadataButton")
						div.input-group.input-sm
							input.form-control.justVisual(id = 'textMetadata', type="text", placeholder="Upload Metadata", aria-describedby="sizing-addon1")
							span.input-group-addon(id="Metadata", onclick="getFile(this.id)") Browse


					form(id ='inputForm')
						h5 Dataset Name
						input.form-control.input-sm(id="datasetName", type="text", placeholder="Select a name for the dataset", required)
						h5 Dataset Description
						input.form-control.input-sm(id="dataset_description", type="text", placeholder="Description")
						br
						if (user)
							div(id="publiccheckbox", style="margin-left:3%; text-align:right;")
								label Make public
								input(id="makepublic", type="checkbox", style="margin-left:3%;")
						else
							div(id="publiccheckbox", style="margin-left:3%; text-align:right; display:none;")
								label Make public
								input(id="makepublic", type="checkbox", style="margin-left:3%;")
						div(style='height: 0px;width:0px; overflow:hidden;')
							input(id="uploadProfile", type="file", value="upload", onchange = 'getFileName(this.id)' )
							input(id="uploadMetadata", type="file", value="upload", onchange = 'getFileName(this.id)' )
							input(id="uploadNewick", type="file", value="upload", onchange = 'getFileName(this.id)' )
							input(id="uploadFasta", type="file", value="upload", onchange = 'getFileName(this.id)' )

				

					br

			div(id="LaunchButton", style="text-align:center; display:none;")
				br
				button.btn.btn-primary.resizable_button_submit(id="submitForm") Launch Tree

			br

			div.statCounter
				img(src="//c.statcounter.com/10743500/0/0b6fd4b1/0/" alt="shopify stats")

			div(id="divMessage")

			br

			div(id = 'waitingGif')
				img(id = 'GIFimage')
			
			br

			span(id ='status')



block scripts
	if (user)
		script(type='text/javascript').
			var isUser = true;
	else
		script(type='text/javascript').
			var isUser = false;
	script(type='text/javascript', src='/javascripts/dependencies/jquery-2.1.3.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.form.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery-ui.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap-select.js')
	script(type='text/javascript', src='/javascripts/dependencies/datatables.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.dataTables.js')
	script(type='text/javascript', src='/javascripts/App/adjustElements/adjustElementsIndex.js')
	script(type='text/javascript', src='/javascripts/App/indexApp/tutorial.js')
	script(type='text/javascript', src='/javascripts/App/indexApp/checkDatasets.js')
	script(type='text/javascript', src='/javascripts/App/indexApp/uploadfiles.js')
	script(type='text/javascript', src='/javascripts/App/indexApp/inputButton.js')
	//script(type='text/javascript', src='/javascripts/App/indexApp/statCounter.js')
	script(type='text/javascript', src='/javascripts/App/indexApp/index.js')