extends layout

block login
	if (!user)
		a(href="/users/login") Login
		= '	'
		a(href="/users/register") Register
	if (user)
		p Your logged in as #{user.name}
		= '	'
		a(href="/users/logout") Logout

block normalBody

	div(id="processingElement")

	div.phylovizNavbar
		div(onclick="javascript:location.href='/'")
			img(src = '/images/logo.png', width = "80", height = "80")
			label(style = 'font-size: 200%;') #{title}

	div
		ul.nav.nav-tabs.tabs-up(id="tabs")
			li.active(id="treeTab")
				a(data-target="#treeContent", data-toggle="mainTab") Tree 
			li
				a(data-target="#isolateContent", data-toggle="mainTab") Isolates
			li
				a(data-target="#profileContent", data-toggle="mainTab") Profiles
			li(id="distanceTab")
				a(data-target="#distanceContent", data-toggle="mainTab") Distances


	div.tab-content
		
		div.tab-pane.active(id="treeContent")
			div.col-lg-2(id="col_webgl")
				ul.nav.nav-stacked
					li
						div
							h5(id='numberOfNodes') Number of nodes: 
							form(id='searchForm')
								div.input-group
									input.form-control(type='text' id='nodeid' style='color:black' placehorder="Search")
									span.input-group-btn
										button.btn.btn-default(type='submit') Search
					li
						br
						div(id='toggleLayout')
							i.glyphicon.glyphicon-pause(id='iconPauseLayout') 
							i(id='pauseLayout') Pause Layout
						br
							
						
					li
						div
							a.btn.btn-primary.actionButton(data-toggle='collapse', href='#collapseColor', aria-expanded="false", aria-controls="collapseExample") Assign Colors
							div.collapse(id='collapseColor')
								a.btn.btn-primary.actionButton(data-toggle='collapse', href='#SchemeColor', aria-expanded="false", aria-controls="collapseExample") By Profile
								div.collapse(id='SchemeColor')
									div.well(id='colorAttributesScheme')
								a.btn.btn-primary.actionButton(data-toggle='collapse', href='#MetadataColor', aria-expanded="false", aria-controls="collapseExample") By Isolate
								div.collapse(id='MetadataColor')
									div.well(id='colorAttributesMetadata')

					li
						div
							a.btn.btn-primary.actionButton(data-toggle='collapse', href='#collapseNodeSize', aria-expanded="false", aria-controls="collapseExample") Change Graphic Properties
							div.collapse(id='collapseNodeSize')
								div.well(id='SizeAttributes')
									label Nodes Size
									input(type='range',id='NodeSizeSlider', name='points1', value = 1, min='1', max='30')
									br
									br
									label Link Length
									input(type='range',id='SpringLengthSlider', name='points3', value = 1, min='1', max='100') 

								div.well(id='labelAttributes')
									label Node Labels Size
									input(type='range',id='NodeLabelSizeSlider', name='points1', value = 20, min='1', max='50')
									label Add Node Labels
									input(type='checkbox',id='AddLabels')
									br
									br
									label Link Labels Size
									input(type='range',id='LinkLabelSizeSlider', name='points1', value = 20, min='1', max='50')
									label Add Link Labels
									input(type='checkbox',id='AddLinkLabels')

					li
						div
							a.btn.btn-primary.actionButton(data-toggle='collapse', href='#collapseOperations', aria-expanded="false", aria-controls="collapseExample") Operations
							div.collapse(id='collapseOperations')
								div.well(id='OperationsToMake')
									label Split Tree
									input(type='number',id='SplitTreeSlider', name='points2', value = 7, min='0', max='7')
									br
									br
									div(id="NLVgraph")
										label NLV graph
										input(type='number',id='NLVnumber', name='points2', value = 7, min='0', max='7')

								div.well(id='OperationsToMake')
									label Compute Distances
									input(type='button',id='distanceButton', name='distances1')
									if (user && !isPublic)
										br
										label Save Positions
										input(type='button',id='savePositionsButton', name='downloadPositions1')
										br
										label Generate public link
										input(type='button',id='generatePublicLinkButton', name='publicLink1')
										textarea(id="publiclinkLocation")
									br
									label Save Image
									input(type='button',id='saveImageButton1', name='saveImage1')
									div(id='downloadContainer', style='display:none')

			div.col-lg-8(id="col_information")
				div(id="info_place")
			
			div(id="divButtonLegend")
				button.btn-md.btn-info(type='button',id='toggle_col_legend') Hide Legend

			div(id="divButtonInfo")
				button.btn-md.btn-info(type='button',id='toggle_col_info') Hide Information
			
			div.col-lg-2(id="col_info")
				div(id="piePlace")
					div(id="currentpiePlace")
					br
					br
					div(id="legendcurrentpiePlace")

			div(id='visual',oncontextmenu='return false;')
				div.graph-overlay

			span(id ='statusMain')
		
		div.tab-pane(id="isolateContent")
			div(id="exportisolates")
			div(id="divisolates")
			br
			br
			div.pieRegion
				div(id='numberOfColumnsisolates')
				div(id="pieisolates")
				div(id="legendpieisolates")
				div(id="divbuttonlinkpieisolates")

		div.tab-pane(id="profileContent")
			div(id="exportprofiles")
			div(id="divprofiles")
			br
			br
			div.pieRegion
				div(id='numberOfColumnsprofiles')
				div(id="pieprofiles")
				div(id="legendpieprofiles")
				div(id="divbuttonlinkpieprofiles")

		div.tab-pane(id="distanceContent")
			//p Order 
			//	select(id="order")
			//		option(value="name") by Name
			//		option(value="count") by Frequency
			div(id="exportdistances")
			div(id="divdistances")
			br
			br
			div.pieRegion
				div(id='numberOfColumnsdistances')
				div(id="piedistances")
				div(id="legendpiedistances")
				div(id="divbuttonlinkpiedistances")

	a(id="imageDownloadLocation" download="phylovizTree.png" style="display:none;")

	div(id = 'waitingGifMain')
		img(id = 'GIFimage')


block scripts
	script(type='text/javascript').
		var compute = !{JSON.stringify(precompute)};
		var datasetID = !{JSON.stringify(datasetID)};
		var idealSpringLength = !{JSON.stringify(springLength)};
	script(type='text/javascript', src='/javascripts/dependencies/d3.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/seedrandom.js')
	script(type='text/javascript', src='/javascripts/dependencies/vivagraph.js')
	script(type='text/javascript', src='/javascripts/dependencies/nv.d3.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery-2.1.3.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery-ui.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap-select.js')
	script(type='text/javascript', src='/javascripts/dependencies/datatables.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.dataTables.js')
	script(type='text/javascript', src='/javascripts/dependencies/pdfmake.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jszip.js')
	script(type='text/javascript', src='/javascripts/dependencies/vfs_fonts.js')
	//script(type='text/javascript', src='/javascripts/App/main/Graph_Manipulation/customPieChartShader.js')
	script(type='text/javascript', src='/javascripts/App/main/Graph_Manipulation/pieNodeWebGl.js')
	script(type='text/javascript', src='/javascripts/App/main/Graph_Manipulation/CustomLinkProgram.js')
	script(type='text/javascript', src='/javascripts/App/main/Graph_Manipulation/searchNodesWebGl.js')
	script(type='text/javascript', src='/javascripts/App/main/Graph_Manipulation/multiSelectionWebGl.js')
	script(type='text/javascript', src='/javascripts/App/main/Graph_Manipulation/assignColors_Webgl.js')
	script(type='text/javascript', src='/javascripts/App/main/Graph_Manipulation/change_Render_Properties_Webgl.js')
	script(type='text/javascript', src='/javascripts/App/main/data_Analysis/data_Analysis_functions.js')
	script(type='text/javascript', src='/javascripts/App/main/data_Analysis/saveTreePositions.js')
	script(type='text/javascript', src='/javascripts/App/main/data_Analysis/linksToTable.js')
	script(type='text/javascript', src='/javascripts/App/main/data_Analysis/generatePublicLink.js')
	script(type='text/javascript', src='/javascripts/App/main/Table/tableFunctions.js')
	script(type='text/javascript', src='/javascripts/App/main/globalPie/globalPieFunctions.js')
	script(type='text/javascript', src='/javascripts/App/main/getPieData.js')
	script(type='text/javascript', src='/javascripts/App/main/linkTableAndGraph.js')
	script(type='text/javascript', src='/javascripts/App/main/showInfo.js')
	script(type='text/javascript', src='/javascripts/App/main/constructGraph.js')
	script(type='text/javascript', src='/javascripts/App/main/iterativeGraph.js')
	script(type='text/javascript', src='/javascripts/App/main/index.js')
