extends layout

block login
	div.user_info
		if (!user)
			a(href="/users/login") Login
			= '	'
			a(href="/users/register") Register
		if (user)
			p.login You are logged in as #{user.name}
				= ' '
				a(href="/users/logout") Logout

block title
	div.titleLocation(onclick="javascript:location.href='/'")
		div.float_title
			img.phylovizImage(src = '/images/logo.png')
			label.title #{title}

block normalBody

	div(id="processingElement")

	//div.phylovizNavbar

	div.tab_Region

		div.tabs_headers
			ul.nav.nav-tabs.tabs-up(id="tabs")
				li.active(id="treeTab")
					a(data-target="#treeContent", data-toggle="mainTab") Tree 
				li
					a(data-target="#profileContent", data-toggle="mainTab") Profiles
				li
					a(data-target="#isolateContent", data-toggle="mainTab") Auxiliary Data
				li(id="distanceTab")
					a(data-target="#distanceContent", data-toggle="mainTab") Distances


		div.tab-content
			
			div.tab-pane.active(id="treeContent")
				div(id="col_webgl")
					ul.nav.nav-stacked
						li
							div
								h5(id='datasetNameDiv') Dataset Name: 
								h5(id='numberOfNodes') Number of nodes: 
								form(id='searchForm')
									div.input-group.input-group-sm
										input.form-control(type='text' id='nodeid' style='color:black' placehorder="Search")
										span.input-group-btn
											button.btn.btn-default.btn-search(type='submit') Search
						li
							br
							div(id='toggleLayout')
								i.glyphicon.glyphicon-pause(id='iconPauseLayout') 
								i(id='pauseLayout') Pause Layout
							br
								
							
						li(id="assignCol")
							div
								a.btn.btn-primary.actionButton(data-toggle='collapse', href='#collapseColor', aria-expanded="false", aria-controls="collapseExample") Assign Colors
								div.collapse(id='collapseColor')
									a.btn.btn-primary.actionButton(data-toggle='collapse', href='#SchemeColor', aria-expanded="false", aria-controls="collapseExample") By Profile
									div.collapse(id='SchemeColor')
										div.well(id='colorAttributesScheme')
									a.btn.btn-primary.actionButton(data-toggle='collapse', href='#MetadataColor', aria-expanded="false", aria-controls="collapseExample") By Auxiliary Data
									div.collapse(id='MetadataColor')
										div.well(id='colorAttributesMetadata')

						li
							div
								a.btn.btn-primary.actionButton(data-toggle='collapse', href='#GraphicsProperties', aria-expanded="false", aria-controls="collapseExample") Graphic Properties
								div.collapse(id="GraphicsProperties")
									a.btn.btn-primary.actionButton(data-toggle='collapse', href='#NodesGraphics', aria-expanded="false", aria-controls="collapseExample") Nodes
									div.collapse(id='NodesGraphics')
										div.well(id='NodesSizeAttributes')
											label Nodes Size
											input(type='range',id='NodeSizeSlider', name='points1', value = 1, min='1', max='30')
											br
											label Node Labels Size
											input(type='range',id='NodeLabelSizeSlider', name='points1', value = 20, min='1', max='50')
											label Add Node Labels
											input(type='checkbox',id='AddLabels')
									a.btn.btn-primary.actionButton(data-toggle='collapse', href='#LinksGraphics', aria-expanded="false", aria-controls="collapseExample") Links
									div.collapse(id='LinksGraphics')
										div.well(id='LinksSizeAttributes')
											label Link Length
											input(type='range',id='SpringLengthSlider', name='points3', value = 1, min='1', max='100') 
											div(id="logScaleDiv")
												label Log Scale
												input(type='checkbox',id='AddLogScale')
											br
											label Link Labels Size
											input(type='range',id='LinkLabelSizeSlider', name='points1', value = 20, min='1', max='50')
											label Add Link Labels
											input(type='checkbox',id='AddLinkLabels')
									a.btn.btn-primary.actionButton(data-toggle='collapse', href='#LayoutGraphics', aria-expanded="false", aria-controls="collapseExample") Layout
									div.collapse(id='LayoutGraphics')
										div.well(id='LayoutAttributes')
											label Drag Coefficient
											input(type='range',id='DragSlider', name='points1', value = 3, min='1', max='50')
											br
											label Spring Coefficient
											input(type='range',id='SpringCoefSlider', name='points1', value = 1, min='1', max='200')
											label Gravity
											input(type='range',id='GravitySlider', name='points1', value = -10, min='-200', max='1')
											label Theta
											input(type='range',id='ThetaSlider', name='points1', value = 0.8, min='0.8', max='100')
											label Mass Ratio
											input(type='range',id='MassSlider', name='points1', value = 1, min='1', max='20')

						li
							div
								a.btn.btn-primary.actionButton(data-toggle='collapse', href='#collapseOperations', aria-expanded="false", aria-controls="collapseExample") Operations
								div.collapse(id='collapseOperations')
									div.well(id='TreeOperations')
										label Tree cut-off
										input(type='number',id='SplitTreeSlider', name='points2', value = 7, min='0', max='7')
										br
										br
										div(id="NLVgraph")
											label NLV graph
											input(type='number',id='NLVnumber', name='points2', value = 7, min='0', max='7')

									div.well(id='OperationsToMake')
										div(id="computeDistances")
											label Compute Distances
											input(type='button',id='distanceButton', name='distances1')
										if (user && !isPublic)
											br
											label Save Positions
											input(type='button',id='savePositionsButton', name='downloadPositions1')
											br
											label Generate public link
											input(type='button',id='generatePublicLinkButton', name='publicLink1')
											textarea(id="publiclinkLocation")
										br
										label Save Image
										input(type='button',id='saveImageButton1', name='saveImage1')
										div(id='downloadContainer', style='display:none')


				div(id="col_information")
					div(id="divButtonInfo")
						button.btn-md.btn-info(type='button',id='toggle_col_info') Hide Information
					div(id="divButtonClearInfo")
						button.btn-md.btn-danger(type='button',id='clear_info') Clear
					div(id="info_container")
						div(id="info_place")

				div(id="divButtonInfoOutside")
						button.btn-md.btn-info(type='button',id='toggle_col_in') Show Information
				
				div(id="divButtonLegend")
					button.btn-md.btn-info(type='button',id='toggle_col_legend') Hide Legend

				
				div(id="col_info")
					div(id="piePlace")
						div(id="currentpiePlace")
						br
						br
						div(id="legendcurrentpiePlace")

				div(id='visual',oncontextmenu='return false;')
					div.graph-overlay

			
			div.tab-pane(id="isolateContent")
				div(id="divisolates")
					div(id="exportisolates")
				br
				br
				div.pieRegion
					//div.numberOfColumns(id='numberOfColumnsisolates')
					div(id="pieisolates")
					div(id="legendpieisolates")
					div(id="divbuttonlinkpieisolates")

			div.tab-pane(id="profileContent")
				div(id="divprofiles")
					div(id="exportprofiles")
				br
				br
				div.pieRegion
					//div.numberOfColumns(id='numberOfColumnsprofiles')
					div(id="pieprofiles")
					div(id="legendpieprofiles")
					div(id="divbuttonlinkpieprofiles")

			div.tab-pane(id="distanceContent")
				div(id="distanceMatrix")
					div(id="divsvg")
						div(id="divOrder", style="display: none")
							p Order 
								select(id="order")
					div(id="groupSVG")
						div(id="divsvgLegend")
						br
						div(id="divOverMatrix")
					div(id="divCheckboxList")
						label(id="labelcheckbox", for="#divCheckboxList") Select Metadata
						br
						div(id="checkboxListContent")
					div(id="divClearDistances")
						button.btn-md.btn-danger(id="clearDistanceMatrix") Clear Distances
				br
				div(id="divdistances")


	a(id="imageDownloadLocation" download="phylovizTree.png" style="display:none;")

	div(id = 'waitingGifMain')
		img.waitingImage(id = 'GIFimage')
		span(id ='statusMain')


block scripts
	script(type='text/javascript').
		var compute = !{JSON.stringify(precompute)};
		var datasetID = !{JSON.stringify(datasetID)};
		var idealSpringLength = !{JSON.stringify(springLength)};
	script(type='text/javascript', src='/javascripts/dependencies/d3.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/seedrandom.js')
	script(type='text/javascript', src='/javascripts/dependencies/vivagraph.js')
	script(type='text/javascript', src='/javascripts/dependencies/nv.d3.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery-2.1.3.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery-ui.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap.js')
	script(type='text/javascript', src='/javascripts/dependencies/bootstrap-select.js')
	script(type='text/javascript', src='/javascripts/dependencies/datatables.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jquery.dataTables.js')
	script(type='text/javascript', src='/javascripts/dependencies/pdfmake.min.js')
	script(type='text/javascript', src='/javascripts/dependencies/jszip.js')
	script(type='text/javascript', src='/javascripts/dependencies/vfs_fonts.js')
	//script(type='text/javascript', src='/javascripts/App/main/Graph_Manipulation/customPieChartShader.js')
	script(type='text/javascript', src='/javascripts/App/adjustElements/adjustElementsMain.js')
	script(type='text/javascript', src='/javascripts/App/main/Graph_Manipulation/pieNodeWebGl.js')
	script(type='text/javascript', src='/javascripts/App/main/Graph_Manipulation/CustomLinkProgram.js')
	script(type='text/javascript', src='/javascripts/App/main/Graph_Manipulation/searchNodesWebGl.js')
	script(type='text/javascript', src='/javascripts/App/main/Graph_Manipulation/multiSelectionWebGl.js')
	script(type='text/javascript', src='/javascripts/App/main/Graph_Manipulation/assignColors_Webgl.js')
	script(type='text/javascript', src='/javascripts/App/main/Graph_Manipulation/change_Render_Properties_Webgl.js')
	script(type='text/javascript', src='/javascripts/App/main/data_Analysis/data_Analysis_functions.js')
	script(type='text/javascript', src='/javascripts/App/main/data_Analysis/saveTreePositions.js')
	script(type='text/javascript', src='/javascripts/App/main/data_Analysis/linksToTable.js')
	script(type='text/javascript', src='/javascripts/App/main/data_Analysis/generatePublicLink.js')
	script(type='text/javascript', src='/javascripts/App/main/Table/tableFunctions.js')
	script(type='text/javascript', src='/javascripts/App/main/globalPie/globalPieFunctions.js')
	script(type='text/javascript', src='/javascripts/App/main/getPieData.js')
	script(type='text/javascript', src='/javascripts/App/main/linkTableAndGraph.js')
	script(type='text/javascript', src='/javascripts/App/main/showInfo.js')
	script(type='text/javascript', src='/javascripts/App/main/graphFunctions.js')
	script(type='text/javascript', src='/javascripts/App/main/buttonsFunctions.js')
	script(type='text/javascript', src='/javascripts/App/main/constructGraph.js')
	script(type='text/javascript', src='/javascripts/App/main/iterativeGraph.js')
	script(type='text/javascript', src='/javascripts/App/main/index.js')
